documentatie/zakenmagazijn/ZakenmagazijnManager.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<definitions name="statuswfm_v2" targetNamespace="http://www.interaccess.nl/webplus/statuswfm_v2" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.interaccess.nl/webplus/statuswfm_v2" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <documentation>
        Dit is de documentatie voor de Zakenmagazijn service.
    </documentation>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.interaccess.nl/webplus/statuswfm_v2" schemaLocation="zakenmagazijn.xsd"/>
        </schema>
    </types>
    <message name="zakenmagazijnFaultMessage">
        <part name="payload" element="tns:zakenmagazijnFault"/>
    </message>
    <message name="StapCreatieRequestMessage">
        <part name="payload" element="tns:Stap"/>
    </message>
    <message name="StapCreatieResponseMessage">
        <part name="payload" element="tns:Retour"/>
    </message>
    <message name="StapUpdateRequestMessage">
        <part name="payload" element="tns:StapUpdate"/>
    </message>
    <message name="StapUpdateResponseMessage">
        <part name="payload" element="tns:Retour"/>
    </message>
    <message name="ZaakCreatieRequestMessage">
        <part name="payload" element="tns:Zaak"/>
    </message>
    <message name="ZaakCreatieResponseMessage">
        <part name="payload" element="tns:Retour"/>
    </message>
    <message name="RelatieUpdateRequestMessage">
        <part name="payload" element="tns:Relatie_zaken"/>
    </message>
    <message name="RelatieUpdateResponseMessage">
        <part name="payload" element="tns:Retour"/>
    </message>
    <message name="StatusCreatieRequestMessage">
        <part name="payload" element="tns:Status"/>
    </message>
    <message name="StatusCreatieResponseMessage">
        <part name="payload" element="tns:Retour"/>
    </message>
    <message name="VerzoekCreatieRequestMessage">
        <part name="payload" element="tns:Verzoek"/>
    </message>
    <message name="VerzoekCreatieResponseMessage">
        <part name="payload" element="tns:Retour"/>
    </message>
    <message name="ZaakUpdateRequestMessage">
        <part name="payload" element="tns:ZaakUpdate"/>
    </message>
    <message name="ZaakUpdateResponseMessage">
        <part name="payload" element="tns:Retour"/>
    </message>
    <message name="VerzoekUpdateRequestMessage">
        <part name="payload" element="tns:VerzoekUpdate"/>
    </message>
    <message name="VerzoekUpdateResponseMessage">
        <part name="payload" element="tns:Retour"/>
    </message>
    <message name="VerzoekQueryRequestMessage">
        <part name="payload" element="tns:VerzoekQuery"/>
    </message>
    <message name="VerzoekQueryResponseMessage">
        <part name="payload" element="tns:VerzoekQueryResponse"/>
    </message>
    <message name="ZaakQueryRequestMessage">
        <part name="payload" element="tns:ZaakQuery"/>
    </message>
    <message name="ZaakQueryResponseMessage">
        <part name="payload" element="tns:ZaakQueryResponse"/>
    </message>
    <message name="ZaakDetailRequestMessage">
        <part name="payload" element="tns:ZaakDetailRequest"/>
    </message>
    <message name="ZaakDetailResponseMessage">
        <part name="payload" element="tns:ZaakDetailResponse"/>
    </message>
    <message name="HoofdzaakRequestMessage">
        <part name="payload" element="tns:HoofdzaakRequest"/>
    </message>
    <message name="HoofdzaakResponseMessage">
        <part name="payload" element="tns:ZaakDetailResponse"/>
    </message>
    <message name="Document_met_zaakCreatieRequestMessage">
        <part name="payload" element="tns:Document_met_zaak"/>
    </message>
    <message name="Document_met_zaakCreatieResponseMessage">
        <part name="payload" element="tns:Retour"/>
    </message>
    <message name="DocumentCreatieRequestMessage">
        <part name="payload" element="tns:Document_zonder_zaak"/>
    </message>
    <message name="DocumentCreatieResponseMessage">
        <part name="payload" element="tns:Retour"/>
    </message>
    <message name="ActorQueryRequestMessage">
        <part name="payload" element="tns:ActorQuery"/>
    </message>
    <message name="ActorQueryResponseMessage">
        <part name="payload" element="tns:ActorQueryResult"/>
    </message>

    <portType name="zmuitbreiding">
        <operation name="stapcreatie">
            <documentation>
                Maakt een nieuwe stap aan bij een zaak. 
            </documentation>
            <input message="tns:StapCreatieRequestMessage"/>
            <output message="tns:StapCreatieResponseMessage"/>
            <fault name="zakenmagazijnFault" message="tns:zakenmagazijnFaultMessage"/>
        </operation>
        <operation name="stapupdate">
            <input message="tns:StapUpdateRequestMessage"/>
            <output message="tns:StapUpdateResponseMessage"/>
            <fault name="zakenmagazijnFault" message="tns:zakenmagazijnFaultMessage"/>
        </operation>
        <operation name="zaakcreatie">
            <input message="tns:ZaakCreatieRequestMessage"/>
            <output message="tns:ZaakCreatieResponseMessage"/>
            <fault name="zakenmagazijnFault" message="tns:zakenmagazijnFaultMessage"/>
        </operation>
        <operation name="relatieupdate">
            <input message="tns:RelatieUpdateRequestMessage"/>
            <output message="tns:RelatieUpdateResponseMessage"/>
            <fault name="zakenmagazijnFault" message="tns:zakenmagazijnFaultMessage"/>
        </operation>
        <operation name="statuscreatie">
            <input message="tns:StatusCreatieRequestMessage"/>
            <output message="tns:StatusCreatieResponseMessage"/>
            <fault name="zakenmagazijnFault" message="tns:zakenmagazijnFaultMessage"/>
        </operation>
        <operation name="verzoekcreatie">
            <input message="tns:VerzoekCreatieRequestMessage"/>
            <output message="tns:VerzoekCreatieResponseMessage"/>
            <fault name="zakenmagazijnFault" message="tns:zakenmagazijnFaultMessage"/>
        </operation>
        <operation name="zaakupdate">
            <input message="tns:ZaakUpdateRequestMessage"/>
            <output message="tns:ZaakUpdateResponseMessage"/>
            <fault name="zakenmagazijnFault" message="tns:zakenmagazijnFaultMessage"/>
        </operation>
        <operation name="verzoekupdate">
            <input message="tns:VerzoekUpdateRequestMessage"/>
            <output message="tns:VerzoekUpdateResponseMessage"/>
            <fault name="zakenmagazijnFault" message="tns:zakenmagazijnFaultMessage"/>
        </operation>
        <operation name="verzoekquery">
            <input message="tns:VerzoekQueryRequestMessage"/>
            <output message="tns:VerzoekQueryResponseMessage"/>
            <fault name="zakenmagazijnFault" message="tns:zakenmagazijnFaultMessage"/>
        </operation>
        <operation name="actorquery">
            <input message="tns:ActorQueryRequestMessage"/>
            <output message="tns:ActorQueryResponseMessage"/>
            <fault name="zakenmagazijnFault" message="tns:zakenmagazijnFaultMessage"/>
        </operation>
        <operation name="zaakquery">
            <input message="tns:ZaakQueryRequestMessage"/>
            <output message="tns:ZaakQueryResponseMessage"/>
            <fault name="zakenmagazijnFault" message="tns:zakenmagazijnFaultMessage"/>
        </operation>
        <operation name="zaakdetail">
            <input message="tns:ZaakDetailRequestMessage"/>
            <output message="tns:ZaakDetailResponseMessage"/>
            <fault name="zakenmagazijnFault" message="tns:zakenmagazijnFaultMessage"/>
        </operation>
        <operation name="hoofdzaak">
            <input message="tns:HoofdzaakRequestMessage"/>
            <output message="tns:HoofdzaakResponseMessage"/>
            <fault name="zakenmagazijnFault" message="tns:zakenmagazijnFaultMessage"/>
        </operation>
        <operation name="document_met_zaakcreatie">
            <input message="tns:Document_met_zaakCreatieRequestMessage"/>
            <output message="tns:Document_met_zaakCreatieResponseMessage"/>
            <fault name="zakenmagazijnFault" message="tns:zakenmagazijnFaultMessage"/>
        </operation>
        <operation name="documentcreatie">
            <input message="tns:DocumentCreatieRequestMessage"/>
            <output message="tns:DocumentCreatieResponseMessage"/>
            <fault name="zakenmagazijnFault" message="tns:zakenmagazijnFaultMessage"/>
        </operation>
    </portType>
    <binding name="zmuitbreiding_soap_binding" type="tns:zmuitbreiding">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="stapcreatie">
            <soap:operation style="document" soapAction="stapcreatie"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="zakenmagazijnFault">
                <soap:fault name="zakenmagazijnFault" use="literal"/>
            </fault>
        </operation>
        <operation name="stapupdate">
            <soap:operation style="document" soapAction="stapupdate"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="zakenmagazijnFault">
                <soap:fault name="zakenmagazijnFault" use="literal"/>
            </fault>
        </operation>
        <operation name="zaakcreatie">
            <soap:operation style="document" soapAction="zaakcreatie"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="zakenmagazijnFault">
                <soap:fault name="zakenmagazijnFault" use="literal"/>
            </fault>
        </operation>
        <operation name="relatieupdate">
            <soap:operation style="document" soapAction="relatieupdate"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="zakenmagazijnFault">
                <soap:fault name="zakenmagazijnFault" use="literal"/>
            </fault>
        </operation>
        <operation name="statuscreatie">
            <soap:operation style="document" soapAction="statuscreatie"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="zakenmagazijnFault">
                <soap:fault name="zakenmagazijnFault" use="literal"/>
            </fault>
        </operation>
        <operation name="verzoekcreatie">
            <soap:operation style="document" soapAction="verzoekcreatie"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="zakenmagazijnFault">
                <soap:fault name="zakenmagazijnFault" use="literal"/>
            </fault>
        </operation>
        <operation name="zaakupdate">
            <soap:operation style="document" soapAction="zaakupdate"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="zakenmagazijnFault">
                <soap:fault name="zakenmagazijnFault" use="literal"/>
            </fault>
        </operation>
        <operation name="verzoekupdate">
            <soap:operation style="document" soapAction="verzoekupdate"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="zakenmagazijnFault">
                <soap:fault name="zakenmagazijnFault" use="literal"/>
            </fault>
        </operation>
        <operation name="actorquery">
            <soap:operation style="document" soapAction="actorquery"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="zakenmagazijnFault">
                <soap:fault name="zakenmagazijnFault" use="literal"/>
            </fault>
        </operation>
        <operation name="verzoekquery">
            <soap:operation style="document" soapAction="verzoekquery"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="zakenmagazijnFault">
                <soap:fault name="zakenmagazijnFault" use="literal"/>
            </fault>
        </operation>
        <operation name="zaakquery">
            <soap:operation style="document" soapAction="zaakquery"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="zakenmagazijnFault">
                <soap:fault name="zakenmagazijnFault" use="literal"/>
            </fault>
        </operation>
        <operation name="zaakdetail">
            <soap:operation style="document" soapAction="zaakdetail"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="zakenmagazijnFault">
                <soap:fault name="zakenmagazijnFault" use="literal"/>
            </fault>
        </operation>
        <operation name="hoofdzaak">
            <soap:operation style="document" soapAction="hoofdzaak"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="zakenmagazijnFault">
                <soap:fault name="zakenmagazijnFault" use="literal"/>
            </fault>
        </operation>

        <operation name="document_met_zaakcreatie">
            <soap:operation style="document" soapAction="document_met_zaakcreatie"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="zakenmagazijnFault">
                <soap:fault name="zakenmagazijnFault" use="literal"/>
            </fault>
        </operation>
        <operation name="documentcreatie">
            <soap:operation style="document" soapAction="documentcreatie"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="zakenmagazijnFault">
                <soap:fault name="zakenmagazijnFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="zmuitbreiding">
        <port name="zmuitbreiding" binding="tns:zmuitbreiding_soap_binding">
            <soap:address location="http://zakenmagazijn.lan:80/zm/ZakenmagazijnManager"/>
        </port>
    </service>
  <plnk:partnerLinkType name="statuswfm_v2_soap_pl">
    <plnk:role name="statuswfm_v2_soap_role">
      <plnk:portType name="tns:zmuitbreiding"/>
    </plnk:role>
  </plnk:partnerLinkType>
</definitions>
