tmfportaal/tmfportal-v1.2.5/TMFPortalWeb/WEB-INF/classes/WSDL/TMFCORE/WUS/WUSLITE/Service-Abstract.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://tmfportal.ovsoftware.com/services"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:ns1="http://wus.tmf.gbo.overheid.nl/wsdl/ophaalService-V0.1.xsd"
	targetNamespace="http://tmfportal.ovsoftware.com/services"
	name="Service-Abstract.wsdl">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified">
			<xsd:import namespace="http://wus.tmf.gbo.overheid.nl/wsdl/ophaalService-V0.1.xsd" schemaLocation="./ophaalService.xsd" />
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://tmfportal.ovsoftware.com/services">
			<xsd:simpleType name="FaultType">
				<xsd:restriction base="xsd:string" />
			</xsd:simpleType>
			<xsd:element name="fault" type="tns:FaultType" />
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="ophalenMeldingKenmerkResponse">
		<wsdl:part name="parameters" element="ns1:ophalenMeldingKenmerkResponse" />
	</wsdl:message>


	<wsdl:message name="ophalenMeldingKenmerk">
		<wsdl:part name="parameters" element="ns1:ophalenMeldingKenmerk" />
	</wsdl:message>


	<wsdl:message name="ophalenMeldingStatusResponse">
		<wsdl:part name="parameters" element="ns1:ophalenMeldingStatusResponse" />
	</wsdl:message>


	<wsdl:message name="ophalenMededeling">
		<wsdl:part name="parameters" element="ns1:ophalenMededeling" />
	</wsdl:message>


	<wsdl:message name="ophalenTmfKenmerkResponse">
		<wsdl:part name="parameters" element="ns1:ophalenTmfKenmerkResponse" />
	</wsdl:message>


	<wsdl:message name="ophalenTmfKenmerk">
		<wsdl:part name="parameters" element="ns1:ophalenTmfKenmerk" />
	</wsdl:message>


	<wsdl:message name="ophalenMededelingResponse">
		<wsdl:part name="parameters" element="ns1:ophalenMededelingResponse" />
	</wsdl:message>


	<wsdl:message name="ophalenMeldingStatus">
		<wsdl:part name="parameters" element="ns1:ophalenMeldingStatus" />
	</wsdl:message>


	<wsdl:message name="fault">
		<wsdl:part name="parameters" element="tns:fault" />
	</wsdl:message>
	
	<wsdl:portType name="ophaalService">
		
		<wsdl:operation name="ophalenMeldingStatus">
			<wsdl:input message="tns:ophalenMeldingStatus"
				wsaw:Action="https://s794a.nxs.nl/tmfCore/OphaalServiceBean:http://wus.tmf.gbo.overheid.nl/wsdl/ophalenService/ophalenMeldingStatusRequest" />
			<wsdl:output message="tns:ophalenMeldingStatusResponse"
				wsaw:Action="https://s794a.nxs.nl/tmfCore/OphaalServiceBean:http://wus.tmf.gbo.overheid.nl/wsdl/ophalenService/ophalenMeldingStatusResponse" />
			<wsdl:fault message="tns:fault" 
				name="ophalenMeldingStatusFault" />
		</wsdl:operation>


		<wsdl:operation name="ophalenMeldingKenmerk">
			<wsdl:input message="tns:ophalenMeldingKenmerk"
				wsaw:Action="https://s794a.nxs.nl/tmfCore/OphaalServiceBean:http://wus.tmf.gbo.overheid.nl/wsdl/ophalenService/ophalenMeldingKenmerkRequest" />
			<wsdl:output message="tns:ophalenMeldingKenmerkResponse"
				wsaw:Action="https://s794a.nxs.nl/tmfCore/OphaalServiceBean:http://wus.tmf.gbo.overheid.nl/wsdl/ophalenService/ophalenMeldingKenmerkResponse" />
			<wsdl:fault message="tns:fault" 
				name="ophalenMeldingKenmerkFault" />
		</wsdl:operation>


		<wsdl:operation name="ophalenTmfKenmerk">
			<wsdl:input message="tns:ophalenTmfKenmerk"
				wsaw:Action="https://s794a.nxs.nl/tmfCore/OphaalServiceBean:http://wus.tmf.gbo.overheid.nl/wsdl/ophalenService/ophalenTmfKenmerkRequest" />
			<wsdl:output message="tns:ophalenTmfKenmerkResponse"
				wsaw:Action="https://s794a.nxs.nl/tmfCore/OphaalServiceBean:http://wus.tmf.gbo.overheid.nl/wsdl/ophalenService/ophalenTmfKenmerkResponse" />
			<wsdl:fault message="tns:fault" 
				name="ophalenTmfKenmerkFault" />
		</wsdl:operation>


		<wsdl:operation name="ophalenMededeling">
			<wsdl:input message="tns:ophalenMededeling"
				wsaw:Action="https://s794a.nxs.nl/tmfCore/OphaalServiceBean:http://wus.tmf.gbo.overheid.nl/wsdl/ophalenService/ophalenMededelingRequest" />
			<wsdl:output message="tns:ophalenMededelingResponse"
				wsaw:Action="https://s794a.nxs.nl/tmfCore/OphaalServiceBean:http://wus.tmf.gbo.overheid.nl/wsdl/ophalenService/ophalenMededelingResponse" />
			<wsdl:fault message="tns:fault" 
				name="ophalenMededelingFault" />
		</wsdl:operation>


	</wsdl:portType>
</wsdl:definitions>
