tmfportaal/tmfportal-v1.2.5/TMFPortalWeb/WEB-INF/classes/WSDL/STELSELCATALOGUS/WUS/WUSLITE/Service-Abstract.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://tmfportal.ovsoftware.com/services"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:ns1="http://wus.tmf.gbo.overheid.nl/wsdl/stelselBevragen-V0.1.xsd"
	targetNamespace="http://tmfportal.ovsoftware.com/services"
	name="Service-Abstract.wsdl">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified">
			<xsd:import namespace="http://wus.tmf.gbo.overheid.nl/wsdl/stelselBevragen-V0.1.xsd" schemaLocation="./stelselBevragen.xsd" />
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://tmfportal.ovsoftware.com/services">
			<xsd:simpleType name="FaultType">
				<xsd:restriction base="xsd:string" />
			</xsd:simpleType>
			<xsd:element name="fault" type="tns:FaultType" />
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="getObjectInfo">
		<wsdl:part name="parameters" element="ns1:getObjectInfo" />
	</wsdl:message>


	<wsdl:message name="getObjectInfoResponse">
		<wsdl:part name="parameters" element="ns1:getObjectInfoResponse" />
	</wsdl:message>


	<wsdl:message name="bevragenResponse">
		<wsdl:part name="parameters" element="ns1:bevragenResponse" />
	</wsdl:message>


	<wsdl:message name="bevragen">
		<wsdl:part name="parameters" element="ns1:bevragen" />
	</wsdl:message>


	<wsdl:message name="fault">
		<wsdl:part name="parameters" element="tns:fault" />
	</wsdl:message>
	
	<wsdl:portType name="stelselBevragenService">
		
		<wsdl:operation name="getObjectInfo">
			<wsdl:input message="tns:getObjectInfo"
				wsaw:Action="https://s794a.nxs.nl/gob/StelselBevragenBean:http://wus.tmf.gbo.overheid.nl/wsdl/stelselBevragen/getObjectInfoRequest" />
			<wsdl:output message="tns:getObjectInfoResponse"
				wsaw:Action="https://s794a.nxs.nl/gob/StelselBevragenBean:http://wus.tmf.gbo.overheid.nl/wsdl/stelselBevragen/getObjectInfoResponse" />
			<wsdl:fault message="tns:fault" 
				name="getObjectInfoFault" />
		</wsdl:operation>


		<wsdl:operation name="bevragen">
			<wsdl:input message="tns:bevragen"
				wsaw:Action="https://s794a.nxs.nl/gob/StelselBevragenBean:http://wus.tmf.gbo.overheid.nl/wsdl/stelselBevragen/bevragenRequest" />
			<wsdl:output message="tns:bevragenResponse"
				wsaw:Action="https://s794a.nxs.nl/gob/StelselBevragenBean:http://wus.tmf.gbo.overheid.nl/wsdl/stelselBevragen/bevragenResponse" />
			<wsdl:fault message="tns:fault" 
				name="bevragenFault" />
		</wsdl:operation>


	</wsdl:portType>
</wsdl:definitions>
