rtmf-guc/src/main/resources/WSDL-1.1/stelselBevragen-abstract-definition.wsdl

<!--
 * Copyright (c) 2009-2011 Gemeente Rotterdam
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the European Union Public Licence (EUPL),
 * version 1.1 (or any later version).
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * European Union Public Licence for more details.
 *
 * You should have received a copy of the European Union Public Licence
 * along with this program. If not, see
 * http://www.osor.eu/eupl/european-union-public-licence-eupl-v.1.1
-->
<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:sb-xsd="http://wus.tmf.gbo.overheid.nl/wsdl/stelselBevragen-V1.1.xsd"
	xmlns:sb-adw="http://wus.tmf.gbo.overheid.nl/wsdl/stelselBevragen-V1.1"
	targetNamespace="http://wus.tmf.gbo.overheid.nl/wsdl/stelselBevragen-V1.1"
	name="stelselBevragen-abstract-definition.wsdl">

	<wsdl:types>
		<xsd:schema elementFormDefault="qualified">
			<xsd:import
				namespace="http://wus.tmf.gbo.overheid.nl/wsdl/stelselBevragen-V1.1.xsd"
				schemaLocation="stelselBevragen.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="getObjectInfoRequest">
		<wsdl:part name="getObjectInfo"
			element="sb-xsd:getObjectInfo" />
	</wsdl:message>

	<wsdl:message name="getObjectInfoResponse">
		<wsdl:part element="sb-xsd:getObjectInfoResponse"
			name="getObjectInfoResponse" />
	</wsdl:message>

	<wsdl:message name="bevragenRequest">
		<wsdl:part name="bevragen" element="sb-xsd:bevragen"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="bevragenResponse">
		<wsdl:part name="bevragenResponse"
			element="sb-xsd:bevragenResponse">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="faultMsg">
		<wsdl:part name="Fault" element="sb-xsd:gobFault"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="getObjectTypeListRequest">
		<wsdl:part name="getObjectTypeList"
			element="sb-xsd:getObjectTypeList" />
	</wsdl:message>

	<wsdl:message name="getObjectTypeListResponse">
		<wsdl:part element="sb-xsd:getObjectTypeListResponse"
			name="getObjectTypeListResponse" />
	</wsdl:message>
	
	<wsdl:message name="getBasisregistratieListRequest">
		<wsdl:part name="getBasisregistratieList"
			element="sb-xsd:getBasisregistratieList" />
	</wsdl:message>

	<wsdl:message name="getBasisregistratieListResponse">
		<wsdl:part element="sb-xsd:getBasisregistratieListResponse"
			name="getBasisregistratieListResponse" />
	</wsdl:message>


	<wsdl:portType name="StelselBevragen">
		<wsdl:operation name="getObjectInfo">
			<wsdl:input message="sb-adw:getObjectInfoRequest"
				wsaw:Action="http://wus.tmf.gbo.overheid.nl/wsdl/stelselBevragen/getObjectInfoRequest" />
			<wsdl:output message="sb-adw:getObjectInfoResponse"
				wsaw:Action="http://wus.tmf.gbo.overheid.nl/wsdl/stelselBevragen/getObjectInfoResponse" />
			<wsdl:fault name="fault"
				message="sb-adw:faultMsg">
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="bevragen">
			<wsdl:input message="sb-adw:bevragenRequest"
				wsaw:Action="http://wus.tmf.gbo.overheid.nl/wsdl/stelselBevragen/bevragenRequest" />
			<wsdl:output message="sb-adw:bevragenResponse"
				wsaw:Action="http://wus.tmf.gbo.overheid.nl/wsdl/stelselBevragen/bevragenResponse" />
			<wsdl:fault name="fault" message="sb-adw:faultMsg"></wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="getObjectTypeList">
			<wsdl:input message="sb-adw:getObjectTypeListRequest"
				wsaw:Action="http://wus.tmf.gbo.overheid.nl/wsdl/stelselBevragen/getObjectTypeListRequest" />
			<wsdl:output message="sb-adw:getObjectTypeListResponse"
				wsaw:Action="http://wus.tmf.gbo.overheid.nl/wsdl/stelselBevragen/getObjectTypeListResponse" />
			<wsdl:fault name="fault"
				message="sb-adw:faultMsg">
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="getBasisregistratieList">
			<wsdl:input message="sb-adw:getBasisregistratieListRequest"
				wsaw:Action="http://wus.tmf.gbo.overheid.nl/wsdl/stelselBevragen/getBasisregistratieListRequest" />
			<wsdl:output message="sb-adw:getBasisregistratieListResponse"
				wsaw:Action="http://wus.tmf.gbo.overheid.nl/wsdl/stelselBevragen/getBasisregistratieListResponse" />
			<wsdl:fault name="fault"
				message="sb-adw:faultMsg">
			</wsdl:fault>
		</wsdl:operation>
		
	</wsdl:portType>
</wsdl:definitions>