documentatie/referentie documentatie/Zakenmagazijn/Documentatie Wabo/CentrDossiermodule/DocloodsClient/src/xsd/AttachmentService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ebus.onefox.nl/2009/3/20" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ebus.onefox.nl/2009/3/20" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <wsp:Policy wsu:Id="AttachmentServiceEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://ebus.onefox.nl/2009/3/20/Imports">
      <xsd:import schemaLocation="attachment.xsd" namespace="http://ebus.onefox.nl/2009/3/20/attachment"/>
      <xsd:import schemaLocation="base.xsd" namespace="http://ebus.onefox.nl/2009/3/20"/>
      <xsd:import schemaLocation="Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="data.xsd" namespace="http://ebus.onefox.nl/2009/3/20/data"/>
      <xsd:import schemaLocation="message.xsd" namespace="http://schemas.microsoft.com/Message"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ReadDocumentMsg">
    <wsdl:part name="ReadDocumentMsg" element="q1:ReadDocumentMsg" xmlns:q1="http://ebus.onefox.nl/2009/3/20/attachment"/>
  </wsdl:message>
  <wsdl:message name="ReadDocumentMsg_Headers">
    <wsdl:part name="AuthInfo" element="tns:AuthInfo"/>
  </wsdl:message>
  <wsdl:message name="AttachmentServiceReadDocumentResMsg">
    <wsdl:part name="ReadDocumentContent" element="q2:ReadDocumentContent" xmlns:q2="http://ebus.onefox.nl/2009/3/20/attachment"/>
  </wsdl:message>
  <wsdl:message name="AttachmentServiceReadDocumentResMsg_Headers">
    <wsdl:part name="Result" element="q3:ReadDocumentResultMsg" xmlns:q3="http://ebus.onefox.nl/2009/3/20/attachment"/>
  </wsdl:message>
  <wsdl:message name="WriteDocumentMsg">
    <wsdl:part name="WriteDocument" element="q4:WriteDocument" xmlns:q4="http://ebus.onefox.nl/2009/3/20/attachment"/>
  </wsdl:message>
  <wsdl:message name="WriteDocumentMsg_Headers">
    <wsdl:part name="AuthInfo" element="tns:AuthInfo"/>
    <wsdl:part name="Data" element="q5:WriteDocumentMsg" xmlns:q5="http://ebus.onefox.nl/2009/3/20/attachment"/>
  </wsdl:message>
  <wsdl:message name="AttachmentServiceWriteDocumentResMsg"/>
  <wsdl:message name="AttachmentServiceWriteDocumentResMsg_Headers">
    <wsdl:part name="Result" element="q6:WriteDocumentResultMsg" xmlns:q6="http://ebus.onefox.nl/2009/3/20/attachment"/>
  </wsdl:message>
  <wsdl:portType name="AttachmentService">
    <wsdl:operation name="ReadDocument">
      <wsdl:input wsaw:Action="http://ebus.onefox.nl/2009/3/20/AttachmentService/ReadDocument" name="ReadDocumentMsg" message="tns:ReadDocumentMsg"/>
      <wsdl:output wsaw:Action="http://ebus.onefox.nl/2009/3/20/AttachmentService/ReadDocumentResponse" name="AttachmentServiceReadDocumentResMsg" message="tns:AttachmentServiceReadDocumentResMsg"/>
    </wsdl:operation>
    <wsdl:operation name="WriteDocument">
      <wsdl:input wsaw:Action="http://ebus.onefox.nl/2009/3/20/AttachmentService/WriteDocument" name="WriteDocumentMsg" message="tns:WriteDocumentMsg"/>
      <wsdl:output wsaw:Action="http://ebus.onefox.nl/2009/3/20/AttachmentService/WriteDocumentResponse" name="AttachmentServiceWriteDocumentResMsg" message="tns:AttachmentServiceWriteDocumentResMsg"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AttachmentServiceEndpoint" type="tns:AttachmentService">
    <wsp:PolicyReference URI="#AttachmentServiceEndpoint_policy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ReadDocument">
      <soap:operation soapAction="http://ebus.onefox.nl/2009/3/20/AttachmentService/ReadDocument" style="document"/>
      <wsdl:input name="ReadDocumentMsg">
        <soap:header message="tns:ReadDocumentMsg_Headers" part="AuthInfo" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AttachmentServiceReadDocumentResMsg">
        <soap:header message="tns:AttachmentServiceReadDocumentResMsg_Headers" part="Result" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteDocument">
      <soap:operation soapAction="http://ebus.onefox.nl/2009/3/20/AttachmentService/WriteDocument" style="document"/>
      <wsdl:input name="WriteDocumentMsg">
        <soap:header message="tns:WriteDocumentMsg_Headers" part="AuthInfo" use="literal"/>
        <soap:header message="tns:WriteDocumentMsg_Headers" part="Data" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AttachmentServiceWriteDocumentResMsg">
        <soap:header message="tns:AttachmentServiceWriteDocumentResMsg_Headers" part="Result" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>