documentatie/referentie documentatie/Zakenmagazijn/Documentatie Wabo/CentrDossiermodule/DocloodsClient/src/xsd/base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://ebus.onefox.nl/2009/3/20" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ebus.onefox.nl/2009/3/20">
  <xs:complexType name="AuthInfo">
    <xs:sequence>
      <xs:element name="Library" nillable="true" type="xs:string"/>
      <xs:element name="Username" nillable="true" type="xs:string"/>
      <xs:element name="Password" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthInfo" nillable="true" type="tns:AuthInfo"/>
</xs:schema>