documentatie/referentie documentatie/Zakenmagazijn/Documentatie Wabo/CentrDossiermodule/DocloodsClient/src/xsd/document.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.0.5.906 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://ebus.onefox.nl/2009/3/20/document"
           elementFormDefault="qualified"
           targetNamespace="http://ebus.onefox.nl/2009/3/20/document"
           xmlns:q1="http://ebus.onefox.nl/2009/3/20/data" 
           xmlns:q2="http://ebus.onefox.nl/2009/3/20/data" 
           xmlns:q5="http://ebus.onefox.nl/2009/3/20/data" 
           xmlns:q7="http://ebus.onefox.nl/2009/3/20/data" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="data.xsd"
             namespace="http://ebus.onefox.nl/2009/3/20/data"/>
  <xs:complexType name="ReadDocumentMsg">
    <xs:sequence>
      <xs:element name="DocNumber" type="xs:int"/>
      <xs:element minOccurs="0" name="Version" type="xs:int"/>
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string"/>
      <xs:element name="Form" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Checkout" type="xs:boolean"/>
      <xs:element xmlns:q1="http://ebus.onefox.nl/2009/3/20/data" minOccurs="0"
                  name="ReturnFields" nillable="true" type="q1:ReturnFields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadDocumentMsg" nillable="true"
              type="tns:ReadDocumentMsg"/>
  <xs:complexType name="ResultMsg">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://ebus.onefox.nl/2009/3/20/data"
                    base="q2:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="DocNumber" type="xs:int"/>
          <xs:element minOccurs="0" name="Version" type="xs:int"/>
          <xs:element minOccurs="0" name="Fields" nillable="true"
                      type="q2:Fields"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultMsg" nillable="true" type="tns:ResultMsg"/>
  <xs:complexType name="WriteDocumentMsg">
    <xs:sequence>
      <xs:element name="DocNumber" type="xs:int"/>
      <xs:element minOccurs="0" name="Version" type="xs:int"/>
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Checkin" type="xs:boolean"/>
      <xs:element xmlns:q3="http://ebus.onefox.nl/2009/3/20/data" minOccurs="0"
                  name="ReturnFields" nillable="true" type="q3:ReturnFields"/>
      <xs:element minOccurs="0" name="CreateNewVersion" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Form" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WriteDocumentMsg" nillable="true"
              type="tns:WriteDocumentMsg"/>
  <xs:complexType name="ReadDocumentContentMsg">
    <xs:sequence>
      <xs:element name="DocNumber" type="xs:int"/>
      <xs:element minOccurs="0" name="Version" type="xs:int"/>
      <xs:element name="Form" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Checkout" type="xs:boolean"/>
      <xs:element xmlns:q4="http://ebus.onefox.nl/2009/3/20/data" minOccurs="0"
                  name="ReturnFields" nillable="true" type="q4:ReturnFields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadDocumentContentMsg" nillable="true"
              type="tns:ReadDocumentContentMsg"/>
  <xs:complexType name="ReadContentResultMsg">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://ebus.onefox.nl/2009/3/20/data"
                    base="q5:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="DocNumber" type="xs:int"/>
          <xs:element minOccurs="0" name="Version" type="xs:int"/>
          <xs:element minOccurs="0" name="Fields" nillable="true"
                      type="q5:Fields"/>
          <xs:element minOccurs="0" name="Content" nillable="true"
                      type="xs:base64Binary"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReadContentResultMsg" nillable="true"
              type="tns:ReadContentResultMsg"/>
  <xs:complexType name="WriteDocumentContentMsg">
    <xs:sequence>
      <xs:element name="DocNumber" type="xs:int"/>
      <xs:element minOccurs="0" name="Version" type="xs:int"/>
      <xs:element minOccurs="0" name="Checkin" type="xs:boolean"/>
      <xs:element xmlns:q6="http://ebus.onefox.nl/2009/3/20/data" minOccurs="0"
                  name="ReturnFields" nillable="true" type="q6:ReturnFields"/>
      <xs:element minOccurs="0" name="CreateNewVersion" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Form" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Content" nillable="true"
                  type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WriteDocumentContentMsg" nillable="true"
              type="tns:WriteDocumentContentMsg"/>
  <xs:complexType name="WriteContentResultMsg">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://ebus.onefox.nl/2009/3/20/data"
                    base="q7:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="DocNumber" type="xs:int"/>
          <xs:element minOccurs="0" name="Version" type="xs:int"/>
          <xs:element minOccurs="0" name="Fields" nillable="true"
                      type="q7:Fields"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WriteContentResultMsg" nillable="true"
              type="tns:WriteContentResultMsg"/>
</xs:schema>