documentatie/referentie documentatie/Zakenmagazijn/Documentatie Wabo/CentrDossiermodule/DocloodsClient/src/xsd/DocumentService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ebus.onefox.nl/2009/3/20" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ebus.onefox.nl/2009/3/20" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ebus.onefox.nl/2009/3/20/Imports">
      <xsd:import schemaLocation="document.xsd" namespace="http://ebus.onefox.nl/2009/3/20/document"/>
      <xsd:import schemaLocation="base.xsd" namespace="http://ebus.onefox.nl/2009/3/20"/>
      <xsd:import schemaLocation="Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="data.xsd" namespace="http://ebus.onefox.nl/2009/3/20/data"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ReadDocumentMsg">
    <wsdl:part name="ReadDocumentMsg" element="q1:ReadDocumentMsg" xmlns:q1="http://ebus.onefox.nl/2009/3/20/document"/>
  </wsdl:message>
  <wsdl:message name="ReadDocumentMsg_Headers">
    <wsdl:part name="AuthInfo" element="tns:AuthInfo"/>
  </wsdl:message>
  <wsdl:message name="DocumentServiceResMsg">
    <wsdl:part name="ResultMsg" element="q2:ResultMsg" xmlns:q2="http://ebus.onefox.nl/2009/3/20/document"/>
  </wsdl:message>
  <wsdl:message name="WriteDocumentMsg">
    <wsdl:part name="WriteDocumentMsg" element="q3:WriteDocumentMsg" xmlns:q3="http://ebus.onefox.nl/2009/3/20/document"/>
  </wsdl:message>
  <wsdl:message name="WriteDocumentMsg_Headers">
    <wsdl:part name="AuthInfo" element="tns:AuthInfo"/>
  </wsdl:message>
  <wsdl:message name="ReadDocumentContentMsg">
    <wsdl:part name="ReadDocumentContentMsg" element="q4:ReadDocumentContentMsg" xmlns:q4="http://ebus.onefox.nl/2009/3/20/document"/>
  </wsdl:message>
  <wsdl:message name="ReadDocumentContentMsg_Headers">
    <wsdl:part name="AuthInfo" element="tns:AuthInfo"/>
  </wsdl:message>
  <wsdl:message name="DocumentServiceReadContentResMsg">
    <wsdl:part name="ReadContentResultMsg" element="q5:ReadContentResultMsg" xmlns:q5="http://ebus.onefox.nl/2009/3/20/document"/>
  </wsdl:message>
  <wsdl:message name="WriteDocumentContentMsg">
    <wsdl:part name="WriteDocumentContentMsg" element="q6:WriteDocumentContentMsg" xmlns:q6="http://ebus.onefox.nl/2009/3/20/document"/>
  </wsdl:message>
  <wsdl:message name="WriteDocumentContentMsg_Headers">
    <wsdl:part name="AuthInfo" element="tns:AuthInfo"/>
  </wsdl:message>
  <wsdl:message name="DocumentServiceWriteContentResMsg">
    <wsdl:part name="WriteContentResultMsg" element="q7:WriteContentResultMsg" xmlns:q7="http://ebus.onefox.nl/2009/3/20/document"/>
  </wsdl:message>
  <wsdl:portType name="DocumentService">
    <wsdl:operation name="ReadDocument">
      <wsdl:input wsaw:Action="http://ebus.onefox.nl/2009/3/20/DocumentService/ReadDocument" name="ReadDocumentMsg" message="tns:ReadDocumentMsg"/>
      <wsdl:output wsaw:Action="http://ebus.onefox.nl/2009/3/20/DocumentService/ReadDocumentResponse" name="DocumentServiceResMsg" message="tns:DocumentServiceResMsg"/>
    </wsdl:operation>
    <wsdl:operation name="WriteDocument">
      <wsdl:input wsaw:Action="http://ebus.onefox.nl/2009/3/20/DocumentService/WriteDocument" name="WriteDocumentMsg" message="tns:WriteDocumentMsg"/>
      <wsdl:output wsaw:Action="http://ebus.onefox.nl/2009/3/20/DocumentService/WriteDocumentResponse" name="DocumentServiceResMsg" message="tns:DocumentServiceResMsg"/>
    </wsdl:operation>
    <wsdl:operation name="ReadDocumentContent">
      <wsdl:input wsaw:Action="http://ebus.onefox.nl/2009/3/20/DocumentService/ReadDocumentContent" name="ReadDocumentContentMsg" message="tns:ReadDocumentContentMsg"/>
      <wsdl:output wsaw:Action="http://ebus.onefox.nl/2009/3/20/DocumentService/ReadDocumentContentResponse" name="DocumentServiceReadContentResMsg" message="tns:DocumentServiceReadContentResMsg"/>
    </wsdl:operation>
    <wsdl:operation name="WriteDocumentContent">
      <wsdl:input wsaw:Action="http://ebus.onefox.nl/2009/3/20/DocumentService/WriteDocumentContent" name="WriteDocumentContentMsg" message="tns:WriteDocumentContentMsg"/>
      <wsdl:output wsaw:Action="http://ebus.onefox.nl/2009/3/20/DocumentService/WriteDocumentContentResponse" name="DocumentServiceWriteContentResMsg" message="tns:DocumentServiceWriteContentResMsg"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocumentServiceEndpoint" type="tns:DocumentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ReadDocument">
      <soap:operation soapAction="http://ebus.onefox.nl/2009/3/20/DocumentService/ReadDocument" style="document"/>
      <wsdl:input name="ReadDocumentMsg">
        <soap:header message="tns:ReadDocumentMsg_Headers" part="AuthInfo" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DocumentServiceResMsg">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteDocument">
      <soap:operation soapAction="http://ebus.onefox.nl/2009/3/20/DocumentService/WriteDocument" style="document"/>
      <wsdl:input name="WriteDocumentMsg">
        <soap:header message="tns:WriteDocumentMsg_Headers" part="AuthInfo" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DocumentServiceResMsg">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadDocumentContent">
      <soap:operation soapAction="http://ebus.onefox.nl/2009/3/20/DocumentService/ReadDocumentContent" style="document"/>
      <wsdl:input name="ReadDocumentContentMsg">
        <soap:header message="tns:ReadDocumentContentMsg_Headers" part="AuthInfo" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DocumentServiceReadContentResMsg">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteDocumentContent">
      <soap:operation soapAction="http://ebus.onefox.nl/2009/3/20/DocumentService/WriteDocumentContent" style="document"/>
      <wsdl:input name="WriteDocumentContentMsg">
        <soap:header message="tns:WriteDocumentContentMsg_Headers" part="AuthInfo" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DocumentServiceWriteContentResMsg">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>