documentatie/referentie documentatie/Zakenmagazijn/Documentatie Wabo/CentrDossiermodule/DocloodsClient/src/xsd/lookup.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.0.5.906 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://ebus.onefox.nl/2009/3/20/lookup"
           elementFormDefault="qualified"
           targetNamespace="http://ebus.onefox.nl/2009/3/20/lookup"
           xmlns:q3="http://ebus.onefox.nl/2009/3/20/data" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="data.xsd"
             namespace="http://ebus.onefox.nl/2009/3/20/data"/>
  <xs:complexType name="GetLookupListMsg">
    <xs:sequence>
      <xs:element name="LookupId" nillable="true" type="xs:string"/>
      <xs:element name="Form" nillable="true" type="xs:string"/>
      <xs:element xmlns:q1="http://ebus.onefox.nl/2009/3/20/data"
                  name="SearchCriteria" nillable="true"
                  type="q1:SearchCriteria"/>
      <xs:element xmlns:q2="http://ebus.onefox.nl/2009/3/20/data" minOccurs="0"
                  name="SortFields" nillable="true" type="q2:SortFields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLookupListMsg" nillable="true"
              type="tns:GetLookupListMsg"/>
  <xs:complexType name="ResultMsg">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://ebus.onefox.nl/2009/3/20/data"
                    base="q3:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="LookupItems" nillable="true"
                      type="q3:LookupItems"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultMsg" nillable="true" type="tns:ResultMsg"/>
</xs:schema>