documentatie/referentie documentatie/Zakenmagazijn/Documentatie Wabo/CentrDossiermodule/DocloodsClient/src/xsd/ProfileService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ebus.onefox.nl/2009/3/20" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ebus.onefox.nl/2009/3/20" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ebus.onefox.nl/2009/3/20/Imports">
      <xsd:import schemaLocation="profile.xsd" namespace="http://ebus.onefox.nl/2009/3/20/profile"/>
      <xsd:import schemaLocation="base.xsd" namespace="http://ebus.onefox.nl/2009/3/20"/>
      <xsd:import schemaLocation="serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="data.xsd" namespace="http://ebus.onefox.nl/2009/3/20/data"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CreateProfileMsg">
    <wsdl:part name="CreateProfileMsg" element="q1:CreateProfileMsg" xmlns:q1="http://ebus.onefox.nl/2009/3/20/profile"/>
  </wsdl:message>
  <wsdl:message name="CreateProfileMsg_Headers">
    <wsdl:part name="AuthInfo" element="tns:AuthInfo"/>
  </wsdl:message>
  <wsdl:message name="ProfileServiceResMsg">
    <wsdl:part name="ResultMsg" element="q2:ResultMsg" xmlns:q2="http://ebus.onefox.nl/2009/3/20/profile"/>
  </wsdl:message>
  <wsdl:message name="GetProfileMsg">
    <wsdl:part name="GetProfileMsg" element="q3:GetProfileMsg" xmlns:q3="http://ebus.onefox.nl/2009/3/20/profile"/>
  </wsdl:message>
  <wsdl:message name="GetProfileMsg_Headers">
    <wsdl:part name="AuthInfo" element="tns:AuthInfo"/>
  </wsdl:message>
  <wsdl:message name="EditProfileMsg">
    <wsdl:part name="EditProfileMsg" element="q4:EditProfileMsg" xmlns:q4="http://ebus.onefox.nl/2009/3/20/profile"/>
  </wsdl:message>
  <wsdl:message name="EditProfileMsg_Headers">
    <wsdl:part name="AuthInfo" element="tns:AuthInfo"/>
  </wsdl:message>
  <wsdl:message name="QueueForDeleteProfileMsg">
    <wsdl:part name="QueueForDeleteProfileMsg" element="q5:QueueForDeleteProfileMsg" xmlns:q5="http://ebus.onefox.nl/2009/3/20/profile"/>
  </wsdl:message>
  <wsdl:message name="QueueForDeleteProfileMsg_Headers">
    <wsdl:part name="AuthInfo" element="tns:AuthInfo"/>
  </wsdl:message>
  <wsdl:message name="QueueForDeleteProfileResMsg">
    <wsdl:part name="QueueForDeleteProfileResultMsg" element="q6:QueueForDeleteProfileResultMsg" xmlns:q6="http://ebus.onefox.nl/2009/3/20/profile"/>
  </wsdl:message>
  <wsdl:portType name="ProfileService">
    <wsdl:operation name="CreateProfile">
      <wsdl:input wsaw:Action="http://ebus.onefox.nl/2009/3/20/ProfileService/CreateProfile" name="CreateProfileMsg" message="tns:CreateProfileMsg"/>
      <wsdl:output wsaw:Action="http://ebus.onefox.nl/2009/3/20/ProfileService/CreateProfileResponse" name="ProfileServiceResMsg" message="tns:ProfileServiceResMsg"/>
    </wsdl:operation>
    <wsdl:operation name="GetProfile">
      <wsdl:input wsaw:Action="http://ebus.onefox.nl/2009/3/20/ProfileService/GetProfile" name="GetProfileMsg" message="tns:GetProfileMsg"/>
      <wsdl:output wsaw:Action="http://ebus.onefox.nl/2009/3/20/ProfileService/GetProfileResponse" name="ProfileServiceResMsg" message="tns:ProfileServiceResMsg"/>
    </wsdl:operation>
    <wsdl:operation name="EditProfile">
      <wsdl:input wsaw:Action="http://ebus.onefox.nl/2009/3/20/ProfileService/EditProfile" name="EditProfileMsg" message="tns:EditProfileMsg"/>
      <wsdl:output wsaw:Action="http://ebus.onefox.nl/2009/3/20/ProfileService/EditProfileResponse" name="ProfileServiceResMsg" message="tns:ProfileServiceResMsg"/>
    </wsdl:operation>
    <wsdl:operation name="QueueForDeleteProfile">
      <wsdl:input wsaw:Action="http://ebus.onefox.nl/2009/3/20/ProfileService/QueueForDeleteProfile" name="QueueForDeleteProfileMsg" message="tns:QueueForDeleteProfileMsg"/>
      <wsdl:output wsaw:Action="http://ebus.onefox.nl/2009/3/20/ProfileService/QueueForDeleteProfileResponse" name="QueueForDeleteProfileResMsg" message="tns:QueueForDeleteProfileResMsg"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProfileServiceEndpoint" type="tns:ProfileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CreateProfile">
      <soap:operation soapAction="http://ebus.onefox.nl/2009/3/20/ProfileService/CreateProfile" style="document"/>
      <wsdl:input name="CreateProfileMsg">
        <soap:header message="tns:CreateProfileMsg_Headers" part="AuthInfo" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ProfileServiceResMsg">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfile">
      <soap:operation soapAction="http://ebus.onefox.nl/2009/3/20/ProfileService/GetProfile" style="document"/>
      <wsdl:input name="GetProfileMsg">
        <soap:header message="tns:GetProfileMsg_Headers" part="AuthInfo" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ProfileServiceResMsg">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditProfile">
      <soap:operation soapAction="http://ebus.onefox.nl/2009/3/20/ProfileService/EditProfile" style="document"/>
      <wsdl:input name="EditProfileMsg">
        <soap:header message="tns:EditProfileMsg_Headers" part="AuthInfo" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ProfileServiceResMsg">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueueForDeleteProfile">
      <soap:operation soapAction="http://ebus.onefox.nl/2009/3/20/ProfileService/QueueForDeleteProfile" style="document"/>
      <wsdl:input name="QueueForDeleteProfileMsg">
        <soap:header message="tns:QueueForDeleteProfileMsg_Headers" part="AuthInfo" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="QueueForDeleteProfileResMsg">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfileService">
    <wsdl:port name="ProfileServiceEndpoint" binding="tns:ProfileServiceEndpoint">
      <soap:address location="http://10.19.10.154/ebus/ProfileService.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>