documentatie/referentie documentatie/Zakenmagazijn/Documentatie Wabo/CentrDossiermodule/DocloodsClient/src/xsd/search.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://ebus.onefox.nl/2009/3/20/search"
           xmlns:q4="http://ebus.onefox.nl/2009/3/20/data"
           elementFormDefault="qualified"
           targetNamespace="http://ebus.onefox.nl/2009/3/20/search"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="data.xsd"
             namespace="http://ebus.onefox.nl/2009/3/20/data"/>
  <xs:complexType name="SearchProfileMsg">
    <xs:sequence>
      <xs:element name="Form" nillable="true" type="xs:string"/>
      <xs:element xmlns:q1="http://ebus.onefox.nl/2009/3/20/data"
                  name="SearchCriteria" nillable="true"
                  type="q1:SearchCriteria"/>
      <xs:element xmlns:q2="http://ebus.onefox.nl/2009/3/20/data" minOccurs="0"
                  name="SortFields" nillable="true" type="q2:SortFields"/>
      <xs:element xmlns:q3="http://ebus.onefox.nl/2009/3/20/data" minOccurs="0"
                  name="ReturnFields" nillable="true" type="q3:ReturnFields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchProfileMsg" nillable="true"
              type="tns:SearchProfileMsg"/>
  <xs:complexType name="ResultMsg">
    <xs:complexContent mixed="false">
      <xs:extension base="q4:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="SearchItems" nillable="true"
                      type="q4:SearchItems"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultMsg" nillable="true" type="tns:ResultMsg"/>
</xs:schema>