documentatie/referentie documentatie/Zakenmagazijn/Documentatie Wabo/CentrDossiermodule/DocloodsClient/src/xsd/SecurityService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ebus.onefox.nl/2009/3/20" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ebus.onefox.nl/2009/3/20" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ebus.onefox.nl/2009/3/20/Imports">
      <xsd:import schemaLocation="security.xsd" namespace="http://ebus.onefox.nl/2009/3/20/security"/>
      <xsd:import schemaLocation="base.xsd" namespace="http://ebus.onefox.nl/2009/3/20"/>
      <xsd:import schemaLocation="Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="data.xsd" namespace="http://ebus.onefox.nl/2009/3/20/data"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetTrusteeMsg">
    <wsdl:part name="GetTrusteeMsg" element="q1:GetTrusteeMsg" xmlns:q1="http://ebus.onefox.nl/2009/3/20/security"/>
  </wsdl:message>
  <wsdl:message name="GetTrusteeMsg_Headers">
    <wsdl:part name="AuthInfo" element="tns:AuthInfo"/>
  </wsdl:message>
  <wsdl:message name="GetTrusteeServiceResMsg">
    <wsdl:part name="ResultMsg" element="q2:ResultMsg" xmlns:q2="http://ebus.onefox.nl/2009/3/20/security"/>
  </wsdl:message>
  <wsdl:message name="SetTrusteeMsg">
    <wsdl:part name="SetTrusteeMsg" element="q3:SetTrusteeMsg" xmlns:q3="http://ebus.onefox.nl/2009/3/20/security"/>
  </wsdl:message>
  <wsdl:message name="SetTrusteeMsg_Headers">
    <wsdl:part name="AuthInfo" element="tns:AuthInfo"/>
  </wsdl:message>
  <wsdl:message name="SetTrusteeServiceResMsg">
    <wsdl:part name="ResultMsg" element="q4:ResultMsg" xmlns:q4="http://ebus.onefox.nl/2009/3/20/security"/>
  </wsdl:message>
  <wsdl:portType name="SecurityService">
    <wsdl:operation name="GetTrustees">
      <wsdl:input wsaw:Action="http://ebus.onefox.nl/2009/3/20/SecurityService/GetTrustees" name="GetTrusteeMsg" message="tns:GetTrusteeMsg"/>
      <wsdl:output wsaw:Action="http://ebus.onefox.nl/2009/3/20/SecurityService/GetTrusteesResponse" name="GetTrusteeServiceResMsg" message="tns:GetTrusteeServiceResMsg"/>
    </wsdl:operation>
    <wsdl:operation name="SetTrustees">
      <wsdl:input wsaw:Action="http://ebus.onefox.nl/2009/3/20/SecurityService/SetTrustees" name="SetTrusteeMsg" message="tns:SetTrusteeMsg"/>
      <wsdl:output wsaw:Action="http://ebus.onefox.nl/2009/3/20/SecurityService/SetTrusteesResponse" name="SetTrusteeServiceResMsg" message="tns:SetTrusteeServiceResMsg"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SecurityServiceEndpoint" type="tns:SecurityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetTrustees">
      <soap:operation soapAction="http://ebus.onefox.nl/2009/3/20/SecurityService/GetTrustees" style="document"/>
      <wsdl:input name="GetTrusteeMsg">
        <soap:header message="tns:GetTrusteeMsg_Headers" part="AuthInfo" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetTrusteeServiceResMsg">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTrustees">
      <soap:operation soapAction="http://ebus.onefox.nl/2009/3/20/SecurityService/SetTrustees" style="document"/>
      <wsdl:input name="SetTrusteeMsg">
        <soap:header message="tns:SetTrusteeMsg_Headers" part="AuthInfo" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SetTrusteeServiceResMsg">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>