documentatie/referentie documentatie/Zakenmagazijn/Documentatie Wabo/CentrDossiermodule/DocloodsClient/src/xsd/security.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.0.5.906 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://ebus.onefox.nl/2009/3/20/security"
           elementFormDefault="qualified"
           targetNamespace="http://ebus.onefox.nl/2009/3/20/security"
           xmlns:q1="http://ebus.onefox.nl/2009/3/20/data"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="data.xsd"
             namespace="http://ebus.onefox.nl/2009/3/20/data"/>
  <xs:complexType name="GetTrusteeMsg">
    <xs:sequence>
      <xs:element name="DocNumber" type="xs:int"/>
      <xs:element name="Form" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTrusteeMsg" nillable="true" type="tns:GetTrusteeMsg"/>
  <xs:complexType name="ResultMsg">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://ebus.onefox.nl/2009/3/20/data"
                    base="q1:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="DocNumber" type="xs:int"/>
          <xs:element minOccurs="0" name="Trustees" nillable="true"
                      type="q1:Trustees"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultMsg" nillable="true" type="tns:ResultMsg"/>
  <xs:complexType name="SetTrusteeMsg">
    <xs:sequence>
      <xs:element name="DocNumber" type="xs:int"/>
      <xs:element name="Form" nillable="true" type="xs:string"/>
      <xs:element xmlns:q2="http://ebus.onefox.nl/2009/3/20/data"
                  name="Trustees" nillable="true" type="q2:Trustees"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetTrusteeMsg" nillable="true" type="tns:SetTrusteeMsg"/>
</xs:schema>