documentatie/referentie documentatie/Zakenmagazijn/Documentatie Wabo/CentrDossiermodule/DocloodsClient/src/xsd/version.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://ebus.onefox.nl/2009/3/20/version" xmlns:q1="http://ebus.onefox.nl/2009/3/20/data" elementFormDefault="qualified" targetNamespace="http://ebus.onefox.nl/2009/3/20/version" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="data.xsd" namespace="http://ebus.onefox.nl/2009/3/20/data" />
  <xs:complexType name="GetVersionsMsg">
    <xs:sequence>
      <xs:element name="DocNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetVersionsMsg" nillable="true" type="tns:GetVersionsMsg" />
  <xs:complexType name="ResultMsg">
    <xs:complexContent mixed="false">
      <xs:extension base="q1:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Versions" nillable="true" type="q1:Versions" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultMsg" nillable="true" type="tns:ResultMsg" />
</xs:schema>